#header ul {
  list-style: none;
  /* left: -1%; */
  width: 282px;
  border-width: 0px 2px 2px 2px;
  border-color: grey;
  border-style: solid;
  top: 34%;
  z-index: 1;
  background-color: #4bb8ff;
  position: absolute;
}
#header li {
  padding: 10px;
}
#header li:hover {
  background-color: #73c7ff;
}