.card-body1 {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  color: rgb(75, 81, 93);
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 35px;
  max-width: 80%;
  padding: 5%;
  background-color: #F9F9F9;
}
.card-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1em;
}
.card-middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5em;
}
.card-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card-weather-info {
  max-width: 30%;
}